<clr-main-container>
    <clr-header class="header-5">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="storage"></clr-icon>
                <span class="title">DC7 API</span>
            </a>
        </div>

        <div class="header-actions">
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-text" clrDropdownToggle>
                {{ fullname }}
                <clr-icon shape="caret down"></clr-icon>
            </button>
                <div class="dropdown-menu">
                    <a href="javascript://" clrDropdownItem>Preferences</a>
                    <a (click)="logout()" clrDropdownItem>Log out</a>
                </div>
            </clr-dropdown>
        </div>
    </clr-header>

    <nav class="subnav" [clr-nav-level]="2">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript://" routerLink='/admin/config' routerLinkActive='active'>ตั้งค่าระบบ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript://" routerLink='/admin/newborn' routerLinkActive='active'>ส่งข้อมูล</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="javascript://" routerLink='/admin/setting' routerLinkActive='active'>ตั้งค่า API</a>
            </li> -->
        </ul>
    </nav>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>

</clr-main-container>